body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo{
    width: 100px;
    outline: 1px solid black;
    outline-offset: -12px;
    border-radius: 50%;
}
.img{
    width: 100%;
}
.img:hover{
    transform: rotate(30deg);
    transition-duration: 0.5s;
}
.menu a:nth-child(3){
    display: none;
}
.menu a{
    margin-inline: 10px;
}
.menu a:hover{
    transition-duration: 0.3s;
    font-size: 1.2em;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(253, 194, 67);
    outline: 1px solid black;
   
}
.main{
    display: flex;
    flex-direction: column;
}
.input{
    display: flex;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 110px;
    border-radius: 10px;
}
.produtos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    
    margin-inline: 20px;
    max-width: 600px;
}
.prod{
    display: flex;
    justify-content: space-around; 
    flex: 1;
    flex-basis: 34%;
    outline: 1px solid black;
    outline-offset: 1px;
}
.img-prod{
    display: flex;
    align-items: center;
}
.img-prod img{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 6px;
}
.desc-prod{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}
.desc-prod h2{
    font-size: 0.8rem;
    margin: 0;
    margin-right: 30px;  
}
.desc-prod h3{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8rem;
    font-weight: bolder;
    color: orangered;
    font-size: large;
}
.desc-prod a{
    align-self: center;
    padding-inline: 10px;
    margin-right: 5px;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.568);
    color: black;
    margin-bottom: 0;
}
.desc-prod a:hover{
        background-color: green;
        border: 2px solid darkgreen;
    }
@media (min-width: 460px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } 
    .input{
        margin-top: 0;
    }
    .menu a:nth-child(3){
        display: flex;
    }
    .main{
        align-items: center;
    }
    .produtos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
    .prod{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        max-width: 100px;
        border-radius: 10px;
        background-color: rgb(253, 194, 67);
        padding-block: 10px;
    }
    .img-prod img{
        width: 80px;
        height: 80px;
        background-color: black;
    }
    .desc-prod{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desc-prod a{
        display: flex;
        justify-content: center;
        margin: 0;
        text-align: center;
        align-self: center;
    }
    .desc-prod h2{
        display: flex;
        justify-content: center;
        margin: 0;
        text-align: center;
        align-self: center;
    }
    .desc-prod h3{
        display: flex;
        justify-content: center;
        margin: 0;
        text-align: center;
        align-self: center;
    }
}
  